Repository Rakaposhi-PK/Rakaposhi, pull requests merged in 2022-08, with the labels that each got.

#31 PR-MSH-USERSTATUS
  database/storeprocds/spDeleteUserStatus.sql
  database/storeprocds/spFindUserStatus.sql
  database/storeprocds/spGetAllUserStatus.sql
  database/storeprocds/spInsertUserStatus.sql
  database/storeprocds/spUpdateUserStatus.sql
  src/Rakaposhi.Core/Rakaposhi.API.Core/Controllers/UserStatusController.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/IRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/IUserStatusRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/DBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/UserStatusRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DataObjects/UserStatus.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeDBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeUserStatusRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/Services/UserStatusService.cs
  src/Rakaposhi.Core/Rakaposhi.UnitTest/UserStatusTest.cs
Labels: core, database, TDD

#38 PR-MSH-USERSTATUS
  src/Rakaposhi.Core/Rakaposhi.API.Core/Controllers/UserStatusController.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/UserStatusRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/Services/UserStatusService.cs
  src/Rakaposhi.Core/Rakaposhi.UnitTest/UserStatusTest.cs
Labels: TDD

#39 PR-MSH-ROLE
  database/storeprocds/spDeleteRole.sql
  database/storeprocds/spFindRole.sql
  database/storeprocds/spGetAllRole.sql
  database/storeprocds/spInsertRole.sql
  database/storeprocds/spUpdateRole.sql
  src/Rakaposhi.Core/Rakaposhi.API.Core/Controllers/RoleController.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/IRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/IRoleRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/DBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/RoleRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DataObjects/Role.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeDBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeRoleRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/Services/RoleService.cs
  src/Rakaposhi.Core/Rakaposhi.UnitTest/RoleTest.cs
Labels: core, database, TDD

#42 PR-MSH-TRANSACTIONTYPES
  database/storeprocds/spDeleteTransactionType.sql
  database/storeprocds/spFindTransactionType.sql
  database/storeprocds/spGetAllTransactionType.sql
  database/storeprocds/spInsertTransactionType.sql
  database/storeprocds/spUpdateTransactionType.sql
  src/Rakaposhi.Core/Rakaposhi.API.Core/Controllers/TransTypeController.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/IRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/BaseRepository/ITransTypeRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/DBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DBRepository/TransTypeRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/DataObjects/TransType.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeDBRepositoryFactory.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/FakeRepository/FakeTransTypeRepository.cs
  src/Rakaposhi.Core/Rakaposhi.Business.Core/Services/TransTypeService.cs
  src/Rakaposhi.Core/Rakaposhi.UnitTest/TransTypeTest.cs
Labels: core, database, TDD

#44 PR-MZK-CD
  docker-compose.yml
Labels: deployment
